# Deciding City

In [2]:
import os
import numpy as np
import pandas as pd

data = pd.read_csv("US_Accidents_March23.csv")
data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
print(data.shape[0])
print(data.shape[1])

7728394
46

In [4]:
city_counts = data["City"].value_counts()

very_large_cities_series = city_counts[city_counts > 20000]
very_large_data_cities2 = very_large_cities_series.index.tolist()

print("20.000'den fazla veriye sahip şehirler ve sayıları:")
print(very_large_cities_series)

for i, (city, count) in enumerate(very_large_cities_series.items()):
    print(f"Index: {i}")
    print(f"Şehir: {city}, Kayıt Sayısı: {count}")

20.000'den fazla veriye sahip şehirler ve sayıları:
City
Miami              186917
Houston            169609
Los Angeles        156491
Charlotte          138652
Dallas             130939
Orlando            109733
Austin              97359
Raleigh             86079
Nashville           72930
Baton Rouge         71588
Atlanta             68186
Sacramento          66264
San Diego           55504
Phoenix             53974
Minneapolis         51488
Richmond            48845
Oklahoma City       46092
Jacksonville        42447
Tucson              39304
Columbia            38178
San Antonio         37961
Greenville          37802
Saint Paul          37383
Seattle             36564
Portland            35399
San Jose            34536
Indianapolis        33219
Chicago             32035
Tampa               31193
Denver              30557
Kansas City         30107
Tulsa               28880
Riverside           27410
New Orleans         27354
Bronx               27297
Rochester           26866
Fort Lauderdale     26205
Detroit             24865
Grand Rapids        24764
Oakland             24674
Dayton              24572
Brooklyn            22311
Columbus            22216
San Bernardino      21990
New York            21699
Omaha               21573
Bakersfield         21390
Corona              21363
Anaheim             21293
Long Beach          21146
Hialeah             20844
Flint               20658
Washington          20505
Salt Lake City      20463
Philadelphia        20433
Lancaster           20167
Name: count, dtype: int64
Index: 0
Şehir: Miami, Kayıt Sayısı: 186917
Index: 1
Şehir: Houston, Kayıt Sayısı: 169609
Index: 2
Şehir: Los Angeles, Kayıt Sayısı: 156491
Index: 3
Şehir: Charlotte, Kayıt Sayısı: 138652
Index: 4
Şehir: Dallas, Kayıt Sayısı: 130939
Index: 5
Şehir: Orlando, Kayıt Sayısı: 109733
Index: 6
Şehir: Austin, Kayıt Sayısı: 97359
Index: 7
Şehir: Raleigh, Kayıt Sayısı: 86079
Index: 8
Şehir: Nashville, Kayıt Sayısı: 72930
Index: 9
Şehir: Baton Rouge, Kayıt Sayısı: 71588
Index: 10
Şehir: Atlanta, Kayıt Sayısı: 68186
Index: 11
Şehir: Sacramento, Kayıt Sayısı: 66264
Index: 12
Şehir: San Diego, Kayıt Sayısı: 55504
Index: 13
Şehir: Phoenix, Kayıt Sayısı: 53974
Index: 14
Şehir: Minneapolis, Kayıt Sayısı: 51488
Index: 15
Şehir: Richmond, Kayıt Sayısı: 48845
Index: 16
Şehir: Oklahoma City, Kayıt Sayısı: 46092
Index: 17
Şehir: Jacksonville, Kayıt Sayısı: 42447
Index: 18
Şehir: Tucson, Kayıt Sayısı: 39304
Index: 19
Şehir: Columbia, Kayıt Sayısı: 38178
Index: 20
Şehir: San Antonio, Kayıt Sayısı: 37961
Index: 21
Şehir: Greenville, Kayıt Sayısı: 37802
Index: 22
Şehir: Saint Paul, Kayıt Sayısı: 37383
Index: 23
Şehir: Seattle, Kayıt Sayısı: 36564
Index: 24
Şehir: Portland, Kayıt Sayısı: 35399
Index: 25
Şehir: San Jose, Kayıt Sayısı: 34536
Index: 26
Şehir: Indianapolis, Kayıt Sayısı: 33219
Index: 27
Şehir: Chicago, Kayıt Sayısı: 32035
Index: 28
Şehir: Tampa, Kayıt Sayısı: 31193
Index: 29
Şehir: Denver, Kayıt Sayısı: 30557
Index: 30
Şehir: Kansas City, Kayıt Sayısı: 30107
Index: 31
Şehir: Tulsa, Kayıt Sayısı: 28880
Index: 32
Şehir: Riverside, Kayıt Sayısı: 27410
Index: 33
Şehir: New Orleans, Kayıt Sayısı: 27354
Index: 34
Şehir: Bronx, Kayıt Sayısı: 27297
Index: 35
Şehir: Rochester, Kayıt Sayısı: 26866
Index: 36
Şehir: Fort Lauderdale, Kayıt Sayısı: 26205
Index: 37
Şehir: Detroit, Kayıt Sayısı: 24865
Index: 38
Şehir: Grand Rapids, Kayıt Sayısı: 24764
Index: 39
Şehir: Oakland, Kayıt Sayısı: 24674
Index: 40
Şehir: Dayton, Kayıt Sayısı: 24572
Index: 41
Şehir: Brooklyn, Kayıt Sayısı: 22311
Index: 42
Şehir: Columbus, Kayıt Sayısı: 22216
Index: 43
Şehir: San Bernardino, Kayıt Sayısı: 21990
Index: 44
Şehir: New York, Kayıt Sayısı: 21699
Index: 45
Şehir: Omaha, Kayıt Sayısı: 21573
Index: 46
Şehir: Bakersfield, Kayıt Sayısı: 21390
Index: 47
Şehir: Corona, Kayıt Sayısı: 21363
Index: 48
Şehir: Anaheim, Kayıt Sayısı: 21293
Index: 49
Şehir: Long Beach, Kayıt Sayısı: 21146
Index: 50
Şehir: Hialeah, Kayıt Sayısı: 20844
Index: 51
Şehir: Flint, Kayıt Sayısı: 20658
Index: 52
Şehir: Washington, Kayıt Sayısı: 20505
Index: 53
Şehir: Salt Lake City, Kayıt Sayısı: 20463
Index: 54
Şehir: Philadelphia, Kayıt Sayısı: 20433
Index: 55
Şehir: Lancaster, Kayıt Sayısı: 20167

In [ ]:
for city in very_large_data_cities2:
  city_df = data[data["City"] == city]
  print("Şehir: ",city)
  print("Toplam Data: ",city_df.shape[0])
  # 1. Kaza Şiddeti Dağılımı (Yüzdesel)
  print("\n1. Kaza Şiddeti Dağılımı:")
  severity_dist = city_df['Severity'].value_counts(normalize=True) * 100
  print(severity_dist.round(2).astype(str) + '%')

  # 2. En Sık Görülen Hava Durumları
  print("\n2. En Sık Görülen 10 Hava Durumu:")
  print(city_df['Weather_Condition'].value_counts())

  # 3. Yol Özelliklerinin Varlığı (Yüzdesel)
  print("\n3. Yol Özelliklerinin Kaza Anındaki Varlığı:")
  road_features = ['Junction', 'Stop', 'Traffic_Signal']
  for feature in road_features:
      feature_percentage = city_df[feature].mean() * 100
      print(f"   - {feature}: {feature_percentage:.2f}%")

# Atlanta

In [3]:
atlanta_df = data[data["City"]=="Atlanta"].copy()
atlanta_df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
146256,A-146263,Source2,3,2016-11-30 15:25:27,2016-11-30 16:54:36,33.766376,-84.527321,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
146257,A-146264,Source2,3,2016-11-30 14:42:27,2016-11-30 16:57:07,33.786896,-84.493134,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
146258,A-146265,Source2,2,2016-11-30 16:27:58,2016-11-30 16:57:41,33.697849,-84.418266,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
146259,A-146266,Source2,3,2016-11-30 16:14:20,2016-11-30 16:58:59,33.696915,-84.404984,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day
146260,A-146267,Source2,3,2016-11-30 16:13:19,2016-11-30 16:57:04,33.796211,-84.393692,NaN,NaN,0.01,...,False,False,False,False,False,False,Day,Day,Day,Day

In [4]:
print(atlanta_df.shape[0])

68186

In [5]:
# --- Eksik Veri Analizi ---
print("\n--- Atlanta Verisi İçin Eksik Veri Analizi ---")
missing_percent = (atlanta_df.isnull().sum() / len(atlanta_df)) * 100
missing_df = missing_percent[missing_percent > 0].sort_values(ascending=False)

if not missing_df.empty:
    print("Sütunlardaki eksik veri yüzdeleri:")
    print(missing_df.round(2).astype(str) + '%')
else:
    print("Harika! Seçilen sütunlarda hiç eksik veri bulunmuyor.")

# --- Veri Tiplerini Düzeltme ---
print("\n--- Veri Tiplerini Düzeltme ---")
atlanta_df['Start_Time'] = pd.to_datetime(atlanta_df['Start_Time'], errors='coerce')
atlanta_df['End_Time'] = pd.to_datetime(atlanta_df['End_Time'], errors='coerce')
print("'Start_Time' ve 'End_Time' sütunları datetime formatına çevrildi.")

--- Atlanta Verisi İçin Eksik Veri Analizi ---
Sütunlardaki eksik veri yüzdeleri:
End_Lat                  60.24%
End_Lng                  60.24%
Wind_Chill(F)            40.51%
Precipitation(in)        39.06%
Wind_Speed(mph)           8.57%
Wind_Direction            0.63%
Humidity(%)               0.44%
Temperature(F)            0.31%
Visibility(mi)            0.29%
Weather_Condition         0.28%
Street                    0.25%
Pressure(in)               0.2%
Weather_Timestamp         0.18%
Sunrise_Sunset             0.0%
Civil_Twilight             0.0%
Nautical_Twilight          0.0%
Astronomical_Twilight      0.0%
dtype: object

--- Veri Tiplerini Düzeltme ---
'Start_Time' ve 'End_Time' sütunları datetime formatına çevrildi.

In [6]:
atlanta_df['Start_Time'] = pd.to_datetime(atlanta_df['Start_Time'], errors='coerce')
atlanta_df['End_Time'] = pd.to_datetime(atlanta_df['End_Time'], errors='coerce')

# --- ÖZELLİK MÜHENDİSLİĞİ (Adım 1: Zaman Grupları) ---
print("\n--- Adım 1: Doldurma işlemi için zaman grupları oluşturuluyor ---")
atlanta_df['Hour'] = atlanta_df['Start_Time'].dt.hour
atlanta_df['Month'] = atlanta_df['Start_Time'].dt.month
print("-> Hour ve Month sütunları eklendi.")

--- Adım 1: Doldurma işlemi için zaman grupları oluşturuluyor ---
-> Hour ve Month sütunları eklendi.

In [7]:
atlanta_df['Start_Time'] = pd.to_datetime(atlanta_df['Start_Time'], errors='coerce')
atlanta_df['End_Time'] = pd.to_datetime(atlanta_df['End_Time'], errors='coerce')
atlanta_df.dropna(subset=['Start_Time', 'End_Time'], inplace=True)
print(f"Zaman verisi olmayan satırlar çıkarıldı. Kalan satır: {len(atlanta_df)}")

Zaman verisi olmayan satırlar çıkarıldı. Kalan satır: 63675

In [8]:
import numpy as np

# --- AKILLI EKSİK VERİ YÖNETİMİ (Adım 2) ---
print("\n--- Adım 2: Grup Bazlı Akıllı Eksik Veri Yönetimi ---")

# Yüksek oranlı eksik veri içeren sütunları kaldır
cols_to_drop = ['End_Lat', 'End_Lng', 'Wind_Chill(F)', 'Precipitation(in)']
# !!! HATA DÜZELTİLDİ: df yerine atlanta_df kullanılıyor !!!
existing_cols_to_drop = [col for col in cols_to_drop if col in atlanta_df.columns]
atlanta_df.drop(columns=existing_cols_to_drop, inplace=True, errors='ignore')
print(f"Kaldırılan sütunlar: {existing_cols_to_drop}")

# Grup bazlı doldurma (Imputation)
numeric_cols_to_fill = ['Wind_Speed(mph)', 'Humidity(%)', 'Temperature(F)', 'Visibility(mi)', 'Pressure(in)']
print("Sayısal sütunlar grup ortalamaları ile dolduruluyor...")
for col in numeric_cols_to_fill:
    if col in atlanta_df.columns:
        atlanta_df[col] = atlanta_df.groupby(['Month', 'Hour'])[col].transform(lambda x: x.fillna(x.mean()))
        atlanta_df[col].fillna(atlanta_df[col].mean(), inplace=True)

categorical_cols_to_fill = ['Wind_Direction', 'Weather_Condition', 'Sunrise_Sunset']
print("Kategorik sütunlar grup modu ile dolduruluyor...")
for col in categorical_cols_to_fill:
    if col in atlanta_df.columns:
        atlanta_df[col] = atlanta_df.groupby(['Month', 'Hour'])[col].transform(lambda x: x.fillna(x.mode()[0] if not x.mode().empty else "UNKNOWN"))
        atlanta_df[col].fillna(atlanta_df[col].mode()[0], inplace=True)

if 'Street' in atlanta_df.columns:
    atlanta_df['Street'].fillna('UNKNOWN', inplace=True)

print("Akıllı doldurma işlemi tamamlandı.")
print(f"İşlem sonrası kalan eksik veri sayısı: {atlanta_df.isnull().sum().sum()}")


# --- ÖZELLİK MÜHENDİSLİĞİ (Adım 3: Kalanlar) ---
print("\n--- Adım 3: Kalan Özelliklerin Mühendisliği ---")
atlanta_df['Day'] = atlanta_df['Start_Time'].dt.day_name()
atlanta_df['Rush_Hour'] = np.where(atlanta_df['Hour'].between(7, 9) | atlanta_df['Hour'].between(16, 18), 1, 0)
print("-> Day ve Rush_Hour sütunları oluşturuldu.")

--- Adım 2: Grup Bazlı Akıllı Eksik Veri Yönetimi ---
Kaldırılan sütunlar: ['End_Lat', 'End_Lng', 'Wind_Chill(F)', 'Precipitation(in)']
Sayısal sütunlar grup ortalamaları ile dolduruluyor...

C:\Users\Ghost\AppData\Local\Temp\ipykernel_17524\317356019.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  atlanta_df[col].fillna(atlanta_df[col].mean(), inplace=True)

Kategorik sütunlar grup modu ile dolduruluyor...

C:\Users\Ghost\AppData\Local\Temp\ipykernel_17524\317356019.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  atlanta_df[col].fillna(atlanta_df[col].mode()[0], inplace=True)

Akıllı doldurma işlemi tamamlandı.
İşlem sonrası kalan eksik veri sayısı: 126

--- Adım 3: Kalan Özelliklerin Mühendisliği ---
-> Day ve Rush_Hour sütunları oluşturuldu.

C:\Users\Ghost\AppData\Local\Temp\ipykernel_17524\317356019.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  atlanta_df['Street'].fillna('UNKNOWN', inplace=True)

In [9]:
atlanta_df.shape[0]

63675

In [10]:
# 1. Her kategori için tam liste oluşturalım
clear_conditions = ['Clear', 'Fair']
cloudy_conditions = ['Cloudy', 'Mostly Cloudy', 'Partly Cloudy', 'Scattered Clouds', 'Overcast']
rainy_conditions = ['Rain', 'Heavy Rain', 'Light Rain', 'Light Drizzle', 'Drizzle', 'Light Rain Showers', 'Light Rain Shower', 'Rain Shower', 'Rain Showers']
thunderstorm_conditions = ['Heavy Thunderstorms and Rain', 'Thunderstorms and Rain', 'Light Thunderstorms and Rain', 'Thunderstorm', 'Light Rain with Thunder', 'T-Storm', 'Thunder', 'Heavy T-Storm', 'Thunder in the Vicinity']
snow_icy_conditions = ['Light Freezing Rain', 'Light Snow', 'Snow', 'Light Ice Pellets', 'Wintry Mix']
low_visibility_conditions = ['Haze', 'Fog', 'Mist', 'Patches of Fog', 'Smoke', 'Shallow Fog', 'Drizzle and Fog']
windy_conditions = ['Squalls', 'Fair / Windy', 'Cloudy / Windy', 'Mostly Cloudy / Windy', 'Partly Cloudy / Windy', 'Light Rain / Windy', 'Heavy T-Storm / Windy', 'Thunder / Windy', 'T-Storm / Windy', 'Wintry Mix / Windy', 'Rain / Windy', 'Heavy Rain / Windy', 'Light Drizzle / Windy', 'Light Snow / Windy']

# 2. Çeviri sözlüğü oluşturalım
weather_map = {}
for item in clear_conditions: weather_map[item] = 'Clear'
for item in cloudy_conditions: weather_map[item] = 'Cloudy'
for item in rainy_conditions: weather_map[item] = 'Rainy'
for item in thunderstorm_conditions: weather_map[item] = 'Thunderstorm'
for item in snow_icy_conditions: weather_map[item] = 'Snowy_Icy'
for item in low_visibility_conditions: weather_map[item] = 'Low_Visibility'
for item in windy_conditions: weather_map[item] = 'Windy'

# 3. .map() fonksiyonu ile doğrudan eşleme yapalım
atlanta_df['Weather_Group'] = atlanta_df['Weather_Condition'].map(weather_map)
print("-> Weather_Group sütunu doğrudan eşleme ile oluşturuldu.")


unmapped_count = atlanta_df['Weather_Group'].isnull().sum()
atlanta_df = atlanta_df.dropna(subset=['Weather_Group'])
if unmapped_count > 0:
    print(f"UYARI: {unmapped_count} adet hava durumu eşleştirilemedi. Lütfen listeyi kontrol edin.")

print("\nOluşturulan Hava Gruplarının Dağılımı:")
print(atlanta_df['Weather_Group'].value_counts())

-> Weather_Group sütunu doğrudan eşleme ile oluşturuldu.
UYARI: 1 adet hava durumu eşleştirilemedi. Lütfen listeyi kontrol edin.

Oluşturulan Hava Gruplarının Dağılımı:
Weather_Group
Cloudy            30895
Clear             23769
Rainy              6622
Low_Visibility     1120
Thunderstorm        914
Windy               285
Snowy_Icy            69
Name: count, dtype: int64

In [11]:
atlanta_df.shape[0]

63674

In [12]:
atlanta_df["Severity"] = atlanta_df["Severity"].apply(lambda x: 0 if x < 3 else 1)

In [13]:
atlanta_df.dropna(inplace=True)
print(f"\nSon temizlik sonrası kalan satır sayısı: {len(atlanta_df)}")
print(f"Tüm işlemler sonrası kalan eksik veri sayısı: {atlanta_df.isnull().sum().sum()}")

# 9. Kaydetme
atlanta_df.to_csv("atlanta_cleaned_data.csv", index=False)

Son temizlik sonrası kalan satır sayısı: 63552
Tüm işlemler sonrası kalan eksik veri sayısı: 0